*{
  margin: 0;
  padding: 0;
}

/* dashboard css starts from here */

.dashboardContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dashboardContent{
  padding: 20px;
  margin-left: 16vw;
}

.NotFoundContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.NotFoundContainer h1{
  font-size: 5rem;
  font-weight: 700;
}