/* Profile css */

.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.profile{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.profileBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    gap: 40px;
}

.profileBodyEdit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    gap: 40px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.profileBodyItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    width: 30vw;
}

.border-line{
    border: 1px solid #b1b1b1;;
    width: 100%;
}


/* dashboard screen css */

.dashboardScreenContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100vh;
}

.dashboardScreenContainer p{
    font-size: 20px;
    font-weight: 500;
    color: #b1b1b1;
    -webkit-user-select: none;
}